<footer class="site-footer">
  <!-- Include JS in the footer for faster loading -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="{{ "/javascripts/bootstrap-affix.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-alert.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-button.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-carousel.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-collapse.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-dropdown.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-modal.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-scrollspy.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-tab.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-tooltip.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-transition.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-typeahead.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/javascripts/bootstrap-popover.js" | prepend: site.baseurl }}"></script>

  <div class="footer-links">
    <div class="logo">
      <a href="http://www.codeandomexico.org">
        <img src="/images/base/logo_cmx_white.png">
      </a>
      <p class="logo-font">2013 - 2014 Cívica Digital A.C.</p>
    </div>
  </div>
</footer>
