<footer class="site-footer">
  <!-- Include JS in the footer for faster loading -->
  <script src="{{ "/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <div class="footer-links">
    <div class="logo">
      <a href="http://www.codeandomexico.org">
        <img src="/images/base/logo_cmx_white.png">
      </a>
      <p class="logo-font">2013 - 2014 Cívica Digital A.C.</p>
    </div>
  </div>
</footer>
