<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="logo brand" href="/"><img src="/images/base/cmx-logo.png" alt="Datamx.io" title="Datamx.io"></a>
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="http://datamx.io/dataset">Datos</a></li>
          <li><a href="http://datamx.io/organization">Organizaciones</a></li>
          <li><a href="http://apertura.datamx.io/">Centro de Apertura</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
